*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  min-height: 100%;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: auto;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background: none;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}
